.tags {
 /* padding: 10px 20px;*/
  /*font-family: Roboto;*/
  font-size: 12px;
  font-weight: 300;
  line-height: 40px;
  font-weight: bold;
  font-style: italic;
  height: 80px;
}

.tagss h2, .tags-cloud {
  word-wrap: break-word;
}

.tags a {
  white-space: nowrap;
  width: auto;
  border-radius: 13px;
  /*background-color: #090a0b;*/
  padding: 5px 5px 5px 15px;
  text-decoration: none;
  position: relative;
  color: #000;
}

/*.tags a:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  height: 20px;
  visibility: hidden;
}*/

.tags a:after {

}

.tags a:hover:after {
  visibility: visible;
}
.tags a:hover, .tags a.is-active {
  /*background: #007bff;*/
  text-decoration: underline;
  font-weight: bold;
  color: #007bff;
}
.tags a:active {
}

.tags a:not(:last-child):after {
  content: ", ";

  position: absolute;
  right: 0px;
  height: 20px;
}

.tagss a.is-active {
  text-decoration: underline;
  color: #1f38eb;
}

.tags__hide {
  position: absolute;
  left: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #000;
  background: #fff;
  padding: 5px 10px;
  line-height: 1;
  transition: all .3s;
  visibility: hidden;
  opacity: 0;
  bottom: 0;
}
.tags a:hover .tags__hide {
  visibility: visible;
  opacity: 1;
  bottom: calc(100% + 15px);
}
.tags__hide:before {
  content: '';
  width: 10px;
  height: 10px;
  background: #fff;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  transform: rotate(45deg)
}

.page-menu__scroll {
  display: flex;
  justify-content: space-around;
}

.mb-30 {
  margin-bottom: 30px;
}

.page-menu__item {
  position: relative;
  text-align: center;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.page-menu__link {
  position: relative;
  display: block;
  height: 42px;
  font-size: 12px;
  font-weight: bold;
  line-height: 50px;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  color: #485156;
}

.page-menu__item.is-active .page-menu__link {
  color: #007bff;
  padding: 0 25px;
  font-weight: bold;
}
.page-menu__item.is-active .page-menu__link::after {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 3px;
  content: '';
  background-image: -webkit-gradient(linear,right top,left top,from(#007bff),to(#0055ff));
  background-image: -webkit-linear-gradient(right,#007bff,#0055ff);
  background-image: -o-linear-gradient(right,#007bff,#0055ff);
  background-image: linear-gradient(to left,#007bff,#0055ff);
}

.field--name-field-type-material {
  display: none;
}

.select2-container--default .select2-selection--single {
  height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 33px;
}

.reset-btn-margin {
  margin-top: 29px;
}

#views-exposed-form-all-materials-block-1 label {
  font-size: 12px;
}

.breadcrumb, .form-item-roles-administrator {
  display: none;
}