.tags {
  padding: 10px 20px;
  width: 380px;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  line-height: 40px;
}

.tagss {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  line-height: 30px;
}

.tagss h2, .tags-cloud {
  text-align: center;
}

.tags a {
  white-space: nowrap;
  color: #ffffff;
  width: auto;
  border-radius: 13px;
  background-color: #090a0b;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  position: relative;
}

.tagss a {
  white-space: nowrap;
  color: #000;
  width: auto;
  text-decoration: none;
  position: relative;
}

.tagss a:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  height: 20px;
  visibility: hidden;
}

.tags a:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  height: 20px;
  visibility: hidden;
}
.tags a:hover:after {
  visibility: visible;
}
.tags a:hover, .tags a.is-active {
  background: #1feb93;
  text-decoration: none;
  color: #ffffff;
}
.tags a:active {
  color: #ffffff !important;
}

.tagss a.is-active {
  text-decoration: underline;
  color: #1f38eb;
}

.tags__hide {
  position: absolute;
  left: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #000;
  background: #fff;
  padding: 5px 10px;
  line-height: 1;
  transition: all .3s;
  visibility: hidden;
  opacity: 0;
  bottom: 0;
}
.tags a:hover .tags__hide {
  visibility: visible;
  opacity: 1;
  bottom: calc(100% + 15px);
}
.tags__hide:before {
  content: '';
  width: 10px;
  height: 10px;
  background: #fff;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  transform: rotate(45deg)
}

.page-menu__scroll {
  margin-top: -15px;
}

.page-menu__item {
  position: relative;
  text-align: center;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.page-menu__link {
  position: relative;
  display: block;
  height: 42px;
  font-size: 0.86667rem;
  font-weight: bold;
  line-height: 50px;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  color: #485156;
}

.page-menu__item.is-active .page-menu__link {
  color: #0b820d;
}
.page-menu__item.is-active .page-menu__link::after {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 3px;
  content: '';
  background-image: -webkit-gradient(linear,right top,left top,from(#0b8243),to(#005f2d));
  background-image: -webkit-linear-gradient(right,#0b8243,#005f2d);
  background-image: -o-linear-gradient(right,#0b8243,#005f2d);
  background-image: linear-gradient(to left,#0b8243,#005f2d);
}

.field--name-field-type-material {
  display: none;
}

.select2-container--default .select2-selection--single {
  height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 33px;
}

