.git
.idea
.editorconfig
.gitattributes
vendor

/public_html/themes/contrib/
/public_html/profiles/contrib/
/public_html/modules/contrib/

# Ignore sensitive information
/public_html/sites/*/settings.php
/public_html/sites/*/settings.local.php
/public_html/sites/default/files/
/public_html/sites/default/files/*


# Ignore .env files as they are personal
/.env
/.Trash-0

composer.lock
