/**
 * @file
 * Subtheme specific CSS.
 */
/* Latest News */
.latest-news-box {
  background-color: #fff;
  overflow: hidden;
}

.item .content {
  padding: 0 15px;
}

.item {
  position: relative;
  width: 100%;
}

.item h2 {
  color: #4c4c4c;
  font-size: 18px;
}

.item p {
  font-size: 12px;
  line-height: 22px;
  margin: 10px 0;
}

.item p.date {
  font-size: 11px;
  font-weight: 600;
  color: #868686;
  opacity: .8;
  margin: 0;
}

.item .comments {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.latest-news-box .item .btn {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.img-overflow {
  background: #32b8da;
  background: -webkit-linear-gradient(left, #32b8da 0%, #5cceeb 42%, #32dac3 85%);
  background: -o-linear-gradient(left, #32b8da 0%, #5cceeb 42%, #32dac3 85%);
  background: linear-gradient(to right, #32b8da 0%, #5cceeb 42%, #32dac3 85%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32b8da', endColorstr='#32dac3',GradientType=1 );
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.item .arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right: 10px solid #fff;
  position: absolute;
  top: 15px;
  right: 0;
}

.item .arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-left: 10px solid #fff;
  position: absolute;
  top: 15px;
  left: 0;

}

img {
  max-width: 100%;
}

.nopadding {
  padding: 0 !important;
}

.btn.blue, a.btn.blue {
  background: #32b8da;
  border-color: #32b8da;
}

.approve-node-form {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.approve-node-form .success-add {
  margin-top: 10px;
}

.no {
  color:#ff0000;
}
.yes {
  color: #8ec73c;
}

.t-a-r {
  text-align: right;
}

.node-preview-container {
  padding: 20px;
}

.page-node-1 .breadcrumb, .page-node-14 .breadcrumb, .page-node-42 .breadcrumb {
  display: none;
}

.breadcrumb {
  background-color: #FFFFFF;
  margin-top: 20px;
}

.page-node-1 #content, .page-node-14 #content, .page-node-42 #content {
  margin-top: 46px;
}

nav.tabs {
  display: none;
}

.widget {
  padding: 20px 30px;
  background: white;
  font-family: 'Roboto', sans-serif;
}
.widget-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #222;
  font-size: 16px;
  padding-left: 15px;
  margin-bottom: 15px;
  border-left: 2px solid #b99d61;
  cursor: pointer;
}
.widget-list {
  padding: 0;
  list-style: none;
}
.widget-list a:before {
  content: "\2014";
  margin-right: 14px;
}
.widget-list a {
  text-decoration: none;
  outline: none;
  display: block;
  padding: 6px 0;
  letter-spacing: 1px;
  font-weight: 300;
  color: #444;
  transition: .3s linear;
}
.widget-list a:hover {color: #b99d61;}


header .site-top-icons ul {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}

header .site-top-icons ul a {
  color: #000;
}

.material-create {
  margin: 0 0 30px 0;
}
.material-create h3 {
  font-size: 17px;
  font-weight: bold;
}

.material-create ul {
  padding-left: 14px;;
}

.material-create li a {
  color: #000;
}

.materials-table h3, .materials-table h2, .materials-table a{
  font-size: 12px;
  font-weight: bold;
}

.materials-table  {
  font-size: 12px;
}

.node-news .content-all {

}

.node-news .field--name-field-img-news {
  float: left;
  margin-right: 25px;
}