<div class="search-block__wrapper-input" data-select2-id="6">
    <div class="search-block__input search-block__input_left">
    	<span class="lupa"></span>
        {{ form.title }}
    </div>
    <div class="search-block__input search-block__input_right" data-select2-id="5">
        {{ form.country }}
    </div>

</div>
{{ form.actions }}