<div class="row">
    <div class="col-10">
        <div class="row">
            {% for row in rows %}
                {{ row.content }}
            {% endfor %}
        </div>

    </div>

    <div class="col-2 border mb-3 item">
        <div class="quotes-speaker">
            <strong>Ранее сказано</strong>
        </div>
    </div>

</div>