<div class="row materials-table">
    <div class="col-10">
        <div class="row">
            {% for row in rows %}
                {{ row.content }}
            {% endfor %}
        </div>

    </div>

    <div class="col-2 border mb-3 item">
        <div class="material-create">
            <h3>Создать материал</h3>
            <ul class="list" style="">
                <li><a href="/node/add/news?type=1">Новость</a></li>
                <li><a href="/node/add/news?type=2">История Успеха</a></li>
                <li><a href="/node/add/material_social">Соц. сети</a></li>
                <li><a href="/node/add/quote">Цитаты</a></li>
            </ul>
        </div>
        <div class="quotes-speaker">
            <strong>Ранее сказано</strong>
        </div>
    </div>

</div>