<div class="row materials-table">
    <div class="col-10">
        <div class="row">
            {% for row in rows %}
                {{ row.content }}
            {% endfor %}
        </div>

    </div>

    <div class="col-2 mb-3 item">
        {{ drupal_block('material_create_block', wrapper=false) }}
        <div class="quotes-speaker">
            <strong>Ранее сказано</strong>
        </div>
    </div>

</div>